# Główna biblioteka Agent Development Kit
google-adk

# Biblioteka do obsługi modeli Gemini i Vertex AI
google-generativeai

# Serwer webowy i klient HTTP
fastapi
uvicorn
requests

# Zależności dla wbudowanych narzędzi i poprawnego działania ADK
google-cloud-aiplatform
google-api-python-client
deprecated

# Zależność do obsługi formularzy w FastAPI
python-multipart
google-cloud-pubsub